.header,
.nav,
.content,
.footer {
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  order: 2;
}

.table {
  order: 1;
}

/* Медиа-запрос для планшетов и десктопов */
@media (min-width: 768px) {
  /* Стили для планшетов и десктопов */
  .menu {
    display: block;
    order: initial;
  }
}
