body{
    background-color: #cccccc;
    display: flex;
    justify-content: center;
}
@media (max-width:560px) {
    .slider{
        text-align: center;
        top: 10vh;
        height: 28vh;
        width: 75vw;
        
    }
    img{
        margin: 0 auto;
        padding: 0 auto;
        height: calc(70vw*0.7);
        width: 70vw;
        max-width: 340px;
        max-height: 200px;
    }
    .slick-prev {
    left: -25px;
}
}

@media (min-width:560px) {
    .slider{
        text-align: center;
        top: 10vh;
        height: 215px;
        width: 80vw;
        max-width: 960px;
    }
    img{
        margin: 0 auto;
        padding: 0 auto;
        height: calc(30vw*0.7);
        width: 30vw;
        max-width: 300px;
        max-height: 210px;
    }
}
.pager {
    text-align: center;
    margin-top: 320px;
  }
