  header {
    background-color: #ccc;
    height: 135px;
  }
  
  .content {
    max-width: 800px;
    background-color: #cccccc;
    margin: 0 auto;
  }  
  th, td {
    padding: 5px;
    border: 1px solid black;
    text-align: left;
  }
  
  th,footer {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #e5e5e5;
  }
  
  tr:nth-child(odd) {
    background-color: #d1d1d1;
  }


@media (min-width: 800px) {
  
    .menu {
        margin-right: 10px;
        position: absolute;
        top: 0;
        right: 0;
      }
}
